body{

background:#eef3f8;

font-family:Arial, Helvetica, sans-serif;

}

.navbar{

padding:15px;

}

.card{

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.btn{

padding:12px 28px;

border-radius:10px;

}

footer{

margin-top:60px;

}